body {
    height: 100vh;
}

.bg-image { 
    background: url("cook_it_up_logo.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }