body {
    height: 100vh;
}

.bg-image { 
    background: url("cook_it_up_logo.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-page-color {
    background: linear-gradient(90deg, rgba(24,198,195,1) 17%, rgba(124,209,203,1) 37%);
  }