body {
    height: 100vh;
}

.bg-image { 
    background: url("cook_it_up_logo.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-page-color {
background: linear-gradient(313deg, rgba(24,198,195,1) 34%, rgba(4,255,237,1) 90%);
}

.search-button {
    width: 75%;
}
