{% extends 'base.html' %}

{% block page_title %}
Cook It Up. Find Your Inner Chef
{% endblock %}

{% block content %}
<div class="mt-5 d-flex justify-content-center">
    <form action="{{ url_for('list_recipes_by_query') }}" method="POST">
        {{ form.hidden_tag() }}
        
        <div class="row">
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="col">
                {{ field.label(class_="form-label") }}
                {{ field(class="form-control") }}
            </div>
            {% endfor %}
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button class="btn btn-success mt-3 search-button">Search</button>
            </div>
        </div>
        </div>
    </form>
</div>
<div class="container cuisine-container mt-4">
    <div class="row d-flex justify-content-center">
        {% for cuisine in cuisines %}
        <div class="col-4">
            <div class="card text-dark my-3 bg-warning">
                <img src="https://images.unsplash.com/photo-1541518763669-27fef04b14ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80" class="img-fluid card-image-top">
                <div class="card-body">
                  <h5 class="card-title">{{ cuisine }}</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="{{ url_for('list_recipes_by_cuisine', cuisine_type=cuisine) }}" class="card-link">{{ cuisine }} Foods</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
