{% extends 'base.html' %}

{% block page_title %}
Cook It Up. Find Your Inner Chef
{% endblock %}

{% block content %}
<form action="{{ url_for('list_recipes_by_query') }}">
    <label for="recipe-search">Find a recipe: </label>
    <input id ="recipe-search" type="text" placeholder="Recipe Name" name="query">
    <button>Search</button>
</form>
<div class="cuisine-container">
    {% for cuisine in cuisines %}
        <p><a href="{{ url_for('list_recipes_by_cuisine', cuisine_type=cuisine) }}">{{ cuisine }}</a></p>
    {% endfor %}
</div>
{% endblock %}
