{% extends 'base.html' %}

{% block page_title %}
Find a Dish!
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center">Search Term: {{ query }}</h3>
    <div class="list-group mt-3">
        {% for id, recipe, cal in recipes %}
        <a href="{{ url_for('show_recipe_by_id', id=id) }}" class="list-group-item list-group-item-action">{{ recipe }} ({{ cal }} calories)</a>
        {% endfor %}
    </div>
    <a href="/" class="btn btn-outline-primary mt-3">Go back</a>
</div>
{% endblock %}