{% extends 'base.html' %}

{% block page_title %}
    {{ recipe_info[0] }}
{% endblock %}

{% block content %}
<img src="{{ recipe_info[1] }}" alt="">
<h1>{{ recipe_info[0] }}</h1>

<h2>Ingredients:</h2>
<ul>
{% for ingred in recipe_info[2] %}
    <li>
        {{ ingred }}
    </li>
{% endfor %}
</ul>

<h2>Equipment:</h2>
<ul>
    {% for tool in recipe_equip %}
        <li>
            {{ tool['name'].capitalize() }}
        </li>
    {% endfor %}
</ul>

<h2>Instructions:</h2>
<ul>
    {% for num, step in recipe_inst %}
    <li>
        {{ num }} {{ step }}
    </li>
    {% endfor %}
</ul>
{% endblock %}